CONNECT_CONFLUENT_CLOUD_CLUSTER_CRN_PATTERN="crn://confluent.cloud/organization=9bb441c4-edef-46ac-8a41-c49e44a3fd9a/environment=env-456xy/cloud-cluster=lkc-123abc"
CONNECT_CONFLUENT_CLOUD_API_KEY="ABCDEFGHIJKLMNOP"
CONNECT_CONFLUENT_CLOUD_API_SECRET="R15hoiDIq8Nxu/lY4mPO3DwAVIfU5W7OI+efsB607mLgHTnVW5XJGVqX2ysDx987"
CONNECT_CONFLUENT_CLOUD_IDENTITY_PROVIDER_NAME="azure"
